@font-face {
  font-family: Luminari;
  src: url(./font/Luminari-Regular.ttf);
}
/* 
div {
  border: 2px dashed greenyellow;
} */

.centered {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1300px;
}

.cardsAll,
.navbar {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.cardsAll {
  justify-content: center;
}

.card {
  background-color: rgb(172, 15, 172);
  border: 3px solid gold;
  box-sizing: border-box;
  flex: 1 0 300px;
  margin: 20px 10px;
  max-width: 250px;
}
.cardContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thumbnail {
  padding-top: 10px;
  width: 200px;
  height: 200px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 80%;
}

.buttonYes,
.buttonNo {
  width: 100px;
  padding: 0;
  margin: 0;
}

.buttonYes {
  background-color: lightgreen;
}

.buttonYes:active {
  background-color: rgb(106, 175, 106);
}

.buttonNo {
  background-color: palevioletred;
}

.buttonNo:active {
  background-color: rgb(163, 87, 87);
}

.merchName,
.link,
.website-name {
  color: rgb(231, 197, 5);
}

.website-name {
  font-family: Luminari;
  font-size: 3rem;
  width: 65%;
}

.links {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-size: 27px;
  font-family: Luminari;
  border: 2px solid rgb(104, 1, 104);
  background-color: rgb(160, 7, 7);
}

.link {
  font-weight: bold;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  margin: 20px 50px;
  border: 2px solid gold;
  background-color: rgb(160, 7, 160);
}

.link:link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.list-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.one-list {
  margin: 0 30px;
  padding-right: 30px;
  border-right: solid gold;
}

.products {
  padding-bottom: 80px;
}

.navbar {
  margin: auto;
}
.list-header {
  color: goldenrod;
  font-family: Luminari;
  text-decoration: underline;
}

.products {
  color: rgba(235, 173, 3, 0.973);
}

.what-you-have {
  text-align: center;
}

.top-link {
  border-bottom: 2px solid rgb(104, 1, 104);
}
