.centered {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1300px;
}

.cardsAll {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background-color: rgb(172, 15, 172);
  border: 3px solid gold;
  box-sizing: border-box;
  flex: 1 0 300px;
  margin: 20px 10px;
  max-width: 300px;
}
.cardContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.thumbnail {
  padding-top: 10px;
  width: 200px;
  height: 200px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 80%;
}

.buttonYes,
.buttonNo {
  width: 100px;
  padding: 0;
  margin: 0;
}

.buttonYes {
  background-color: lightgreen;
}

.buttonNo {
  background-color: palevioletred;
}

.merchName {
  color: rgb(231, 197, 5);
}
